<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recap club points | GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the Recap club points</h1>
    <table>
      <tr>
        <th>Club</th>
        <th>Points available</th>
      </tr>

      {% for club in clubs %}
        <tr>
            <td>{{club['name']}}</td>
            <td>{{club['points']}}</td>
        </tr>
      {% endfor %}
    </table>
</body>
</html>